@use '../abstracts/colors';
@use '../base/typography';
@use '../base/animations';
@use '../base/utilities';
@use '../components/button';
.aboutUs {
	display: flex;
	justify-content: center;
	flex-direction: column;
	background-color: colors.$color-background-dark;
	color: #fff;
	text-align: center;
	align-items: center;
	padding: 4rem 0;
	gap: 4rem;
	&Description {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		width: 80%;
		align-items: center;
	}
	&Composition {
		width: 80%;
		animation: scaleIn 1s backwards;
		display: block;
		&Img {
			transition: all 0.3s ease-in;
			&Front {
				right: 0;
				z-index: 2;
			}
			&Back {
				left: 4rem;
			}
			&:hover {
				transform: scale(1.05) translateY(-0.5rem);
				box-shadow: 0 2.5rem 4rem rgba(colors.$color-black, 0.5);
				z-index: 20;
			}
		}
	}
}

// ABOVE 544px (For smaller tablets)
@media only screen and(min-width: 34em) {
}

// ABOVE 704px (For Tablets)
@media only screen and(min-width: 44em) {
}
// ABOVE 944px (For Landscape tablets)
@media only screen and(min-width: 59em) {
	.aboutUs {
		flex-direction: row;
		padding: 8rem;
		&Description {
			width: 70%;
		}
	}
}

// ABOVE 1200px (For smaller desktops)
@media only screen and(min-width: 75em) {
}

// ABOVE 1344px (For desktops)
@media only screen and(min-width: 84em) {
	.aboutUs {
		flex-direction: row;
		padding: 16rem;
		&Description {
			width: 30%;
		}

		&Composition {
			width: 30%;
			max-width: 700px;
		}
	}
}
