@use '../abstracts/colors';
@use '../base/typography';
@use '../base/animations';
@use '../base/utilities';

.services {
	display: grid;
	grid-template-columns: repeat(4, 20%);
	justify-content: center;
	align-items: center;
    &Heading{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4rem;
        flex-direction: column;
    }
	&Item {
		display: flex;
		justify-self: center;
		align-self: center;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		animation: moveInBottom 1s backwards;
		transition: all 0.3s;
		gap: 2rem;
		max-width: 24rem;
		padding: 0.8rem;
		&:hover {
			/* transform: translateY(-1rem); */
			/* box-shadow: 0 0.5rem 1rem rgba(colors.$color-black, 0.15); */
		}
        &Img{
            
        }
	}
}
