@use '../abstracts/colors';
@use '../base/animations';
.mainNav {
	color: colors.$color-grey-dark;
	&List {
		display: flex;
		flex-direction: column;
		width: auto;
		justify-content: center;
		align-items: center;
		font-size: 1.8rem;
		gap: 4rem;
		letter-spacing: 0.1rem;

		&Item {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			position: relative;
			flex-direction: column;
			& ion-icon {
				transition: all 0.3s ease-out;
			}
			&Active {
				color: colors.$color-primary;
				& ion-icon {
					transform: rotate(180deg);
				}
			}

			& > span {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			& > .subMenu {
				display: none;
				padding: 4rem;
				z-index: 100;
				top: 5rem;
				border: 1px solid colors.$color-grey-dark;
				margin: 4rem 0 0 0;
				/* transition: all 0.3s ease-out; */
				/* opacity: 0; */
				/* transform: translateY(-100px); */
				&.open {
					display: block;
					animation: moveInTop 1s forwards;
					/* opacity: 1;
					transform: translateY(0); */
				}
			}
		}
	}
}

// ABOVE 544px (For smaller tablets)
@media only screen and(min-width: 34em) {
}

// ABOVE 704px (For Tablets)
@media only screen and(min-width: 44em) {
}
// ABOVE 944px (For Landscape tablets)
@media only screen and(min-width: 59em) {
}

// ABOVE 1200px (For smaller desktops)
@media only screen and(min-width: 75em) {
	.mainNav {
		&List {
			flex-direction: row;
			font-size: 1.4rem;
			&Item {
				position: relative;
				&:hover {
					color: colors.$color-primary;
				}
				& > .subMenu {
					margin: 0;
					position: absolute;
				}
			}
		}
	}
}

// ABOVE 1344px (For desktops)
@media only screen and(min-width: 84em) {
}
