@use '../abstracts/colors';
@use '../base/animations';

.headingPrimary {
	color: colors.$color-grey-dark;
	text-transform: uppercase;
	backface-visibility: hidden;
	font-size: 6.4rem;
	font-weight: 300;
	letter-spacing: 1rem;
	animation: scaleIn 1s forwards;

	&Sub {
		display: block;
		font-size: 2rem;
		font-weight: 300;
		letter-spacing: 0.2rem;
		animation: scaleIn 1s forwards;
	}
}

.headingSecondary {
	display: inline-block;
	font-size: 3.5rem;
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.2rem;
	animation: moveInBottom 1s forwards;
}

.headingTertiary {
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
}

.paragraph {
	font-size: 1.6rem;
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
}
