@use '../abstracts/colors';
@use '../abstracts/variables';
@use '../components/popup';

.header {
	position: sticky;
	display: grid;
	grid-template-columns: 10% 80% 10%;
	justify-content: center;
	align-items: center;
	margin: 0 16rem;
	padding: 3.2rem 0;
}

.logo {
	&Text {
		margin-left: 1rem;
		font-size: 1.4rem;
	}
	&Container {
		display: flex;
		flex-grow: 1;
		flex-basis: 0;
		justify-content: flex-start;
		align-items: center;
		cursor: pointer;
		transition: all 0.3s;
		&:hover {
			transform: scale(1.1);
		}
	}
}

.mainNav {
	&List {
		display: flex;
		flex-direction: row;
		width: auto;
		justify-content: center;
		align-items: center;
		font-size: 1.4rem;
		gap: 4rem;
		letter-spacing: 0.1rem;

		&Item {
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			& ion-icon {
				transition: all 0.3s ease-out;
			}

			&:hover {
				color: colors.$color-primary;

				& ion-icon {
					transform: rotate(180deg);
				}
			}
		}
	}
}

.cartIconContainer {
	display: flex;
	justify-content: flex-end;

	& ion-icon {
		transition: all 0.3s;
		cursor: pointer;
		font-size: 2.4rem;

		&:hover {
			transform: scale(1.1);
		}
	}
}
.sectionHero {
	margin: 8rem 0;
}
.hero {
	display: grid;
	grid-template-columns: 40% 40%;
	justify-content: center;

	&Img {
		border-radius: 0.8rem;
		&Box {
			display: flex;
			justify-content: flex-end;
		}
	}

	&Description {
		font-size: 1.8rem;
		margin: 8rem 0;
	}

	&Btn {
		display: inline-block;
		font-size: 1.6rem;
		padding: 2rem 4rem;
		background-color: colors.$color-primary;
		color: colors.$color-white;
	}

	&Title {
		font-size: 6.4rem;
		font-weight: 300;
		letter-spacing: 1rem;
	}

}
