$color-primary: #c9a969;
$color-primary-light: #dfcba5;
$color-primary-dark: #a18754;
$color-grey-dark: #444;
$color-grey-light-1: #f7f7f7;
$color-grey-light: #eee;
$color-white: #fff;
$color-black: #000;
$color-background-dark: #090909;
$color-wine-red: #780f12;
$color-wine-white: #eeebe0;
$color-wine-rose: #d691aa;